/* NOTAS:
  Los márgenes se colapsan entre sí por defecto, eso quiere decir que si yo tengo un elemento
  que tiene 50px de marginbottom y el elemento que le sigue tiene 60px de margin top,
  NO se van a separar por un total de 110px sino que automáticamente el css va a tomar el margen
  más grande de esos dos (60) y aplicar ese SOLO.
*/

* {
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */
body {
  position: relative;
  color: #444;
  font-family: sans-serif;
}

.main-container {
  width: 800px;
  margin: 0 auto;
  border-top: 10px solid #1098ad;
}

nav {
  font-size: 18px;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  position: relative;
  font-size: 40px;
}

h2::after {
  content: "TOP";
  font-size: 16px;
  display: inline-block;
  background-color: #ffe70e;
  color: #444;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

.post-header {
  margin-bottom: 40px;
}

.post-image {
  width: 100%;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}

nav a:link:last-child {
  margin-right: 0;
}

/* footer p {
  font-size: 16px;
} */

#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* article p:first-of-type {
  color: red;
} */

/* Styling links */
/* 
* IMPORTANTE! EL ESTILO DE LOS LINKS SE MANEJA EN BASE A LOS ESTADOS DEL MISMO
* ESTOS ESTADOS ESTAN DADOS POR LAS PSEUDOCLASES DE ABAJO
*/
/* La pseudo clase link va a apuntar a todos los anchor tag que tengan el atributo href */
a:link,
/* La pseudo clase visited va a manejar el estilo de los links luego de apretar el mouse (por que por defecto cambian de color) */
a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  font-style: italic;
}
/* END LINK STYLING */

.like {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}
